.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  height: 100px;
}

.col {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
